html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%;
}

.App-logo {
  height: 90px;
  margin: 15px 0 0px 20px;
}

.App-header {
  height: 120px;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main-container{
  min-height: 100%;
}

.content-background{

}

.footer-container{
  background-color: black;
  /* box-shadow: 0px 500px 0px 500px #000; */
  /* margin: 20px 0 0 0; */
  height: 50px;
  margin-top: -50px;
  text-align: center;
}

.footer-container p{
  padding: 10px 0 0 0;
  color: #ffc107;
}

.login-out-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
  margin: 0 15px 15px 0;
}

.logged-in-header{
  display: flex;
  flex-direction: row;
}

.logged-in-header h5{
  color: white;
  margin: 0;
  padding: 14px 10px 0 0;
}

.logout-btn{
  height: 40px;
  margin: 0 0 0 10px;
}

.admin-login-btn{
  height: 40px;
  margin: 0 0 0 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-container{
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
}

.calendar-header{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.calendar-title{
  margin: 10px;
}

.calendar-container{
  width: 100%;
}

.days{
  text-align: center;
}

td{
  padding: 10px 0 80px 10px;
  width: 100px;
  border: 1px solid lightgrey;
  vertical-align: top;
}

ul {
  list-style: none
}

li::before {
  content: "•";
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -2em;
}

td .date-num{
  padding: 5px 0px 0px 10px;
  background-color: orange;
}

.date-day-container ul{
  margin-bottom: 0;
}

.about-logins{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}

.about-container{
  border: 2px solid green;
  margin: 10px;
}

.about-title{
  display: flex;
  justify-content: center;
}

.about-section{
  padding: 10px;
}

.login-container{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 20px 0 20px 0;
}

.register-form{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.register-btn-submit{

}

.login-input{
  width: 50%;
}

.lower-form{
  width: 50%;
}

.lower-form div{
  margin: 5px 0;
}

.forgot-password{
  margin: 0 0 0 10px;
}

.create-account-btn{
  width: 90px;
}

.create-account-container{
  display: flex;
  flex-direction: column;
}

#authorize-button{
  display: none;
}

#signout-button{
  display: none;
}

.event-schedule{
  display: flex;
  flex-direction:row;
}

.event-times{
  margin-left: 10px;
}

.my-account-container{
  display: flex;
  flex-direction: row;
}

.chat-container-frame{
  height: 400px;
  border: none;
}

.appt-select{
  display: flex;
  flex-direction: row;
}

.dashboard-container{
  display: flex;
  flex-direction: row;
}

.dashboard-title{
  display: flex;
  justify-content: center;
}

.dashboard-title h1, .align-title-center h3{
  font-family: 'Francois One', sans-serif;
}

.align-title-center{
  display: flex;
  justify-content: center;
}

.title-time-container{
  display: flex;
  flex-direction: column;
}

.title-time-container h2{
  margin: 0 0 0 0;
}

.time-button-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.day-time-container{
  width: 50%;
}

.day-time-container p{
  margin: 0 0 0 0;
  font-size: 1.50rem;
}

.approve-deny-container{
  margin: 0 0 0 10px;
  width: 50%;
}

.approval-btn, .delete-btn{
  width: 103px;
}

.delete-container{
  margin: 2px 0 0 0;
}

.appt-approval-container{
  display: flex;
  flex-direction: row;
}

.approval-item{
  display: flex;
  flex-direction: row;
}

.approval-outter-container{
  display: flex;
  flex-direction: column;
}

.approval-combine-container{
  display: flex;
  flex-direction: row;
  margin: 0;
}

.appt-approval-time, .appt-approval-date{
  margin: 5px 0 0 0;
  font-size: 1.25em;
}

.approval-container{
  padding: 0;
}
