body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%;
}

.App{
  margin: 30px 40px 0 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  height: 100px;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.logged-in-user{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
  margin: 0 0 6px 0;
}

.logout-btn{
  height: 40px;
  margin: 0 0 0 10px;
}

.admin-login-btn{
  height: 40px;
  margin: 0 0 0 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-container{
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
}

.calendar, .about-logins{
  width: 50%;
  border: 2px solid purple;
}

.calendar-title{
  display: flex;
  justify-content: center;
  margin: 10px;
  border: 2px solid green;
}

.calendar-container{
  border: 2px solid red;
  width: 100%;
}

td{
  height: 70px;
}

.about-logins{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}

.about-container{
  border: 2px solid green;
  margin: 10px;
}

.about-title{
  display: flex;
  justify-content: center;
}

.about-section{
  padding: 10px;
}

.login-container{
  border: 2px solid orange;
  margin: 10px;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0 20px 0;
}

.login-input{
  width: 50%;
}

.lower-form{
  width: 50%;
}

.lower-form div{
  margin: 5px 0;
}

.forgot-password{
  margin: 0 0 0 10px;
}

.create-account-btn{
  margin: 0 0 0 10px;
}

#authorize-button{
  display: none;
}

#signout-button{
  display: none;
}
